@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://i.ibb.co/HLZV330/auroraborealis.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

.banner {
  color: #fff;
  position: relative;
  text-align: center;
  top: 45%;
  font-size: 2.9rem;
  font-weight: 500;
  -webkit-text-stroke: 2px #000;
}

#btn {
  position: relative;
  top: 45%;
  text-align: center;
  margin-top: 1.4rem;
}
#btn li a {
  color: #4af7d1;
  text-decoration: none;
  font-size: 1.2rem;
  background: #000;
  opacity: 0.6;
  outline: none;
  padding: 1rem 1.4rem;
  border-radius: 50px;
  letter-spacing: 1px;
  word-spacing: 3px;
}

#btn li a:hover {
  cursor: pointer;
  background: #4af7d1;
  color: #000;
  transition: all 0.5s ease-in;
}

nav {
  justify-content: flex-end;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding-right: 3rem;
  font-size: 1.3rem;
}

nav ul li a:hover {
  color: #4af7d1;
  -webkit-text-stroke: 0.6px black;
}

@media (max-width: 768px) {
  .banner {
    font-size: 2.4rem;
    font-weight: 500;
    color: #fff;
  }

  #btn li a {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    background: #4af7d1;
    opacity: 0.6;
    outline: none;
    padding: 0.6rem 1rem;
    border-radius: 50px;
    letter-spacing: 1px;
    word-spacing: 3px;
  }
}
